--
-- PostgreSQL database dump
--

\restrict prWg6Pn6yq8Yfq2aL1PslvYf6j8ncFxvfXBdfp83qasr4O7N0ftwYfPRXgjbYaB

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.user_special_access DROP CONSTRAINT user_special_access_user_id_users_id_fk;
ALTER TABLE ONLY public.user_special_access DROP CONSTRAINT user_special_access_granted_by_users_id_fk;
ALTER TABLE ONLY public.user_crm_notes DROP CONSTRAINT user_crm_notes_user_id_users_id_fk;
ALTER TABLE ONLY public.user_crm_notes DROP CONSTRAINT user_crm_notes_author_id_users_id_fk;
ALTER TABLE ONLY public.swipes DROP CONSTRAINT swipes_to_user_id_users_id_fk;
ALTER TABLE ONLY public.swipes DROP CONSTRAINT swipes_from_user_id_users_id_fk;
ALTER TABLE ONLY public.subscriptions DROP CONSTRAINT subscriptions_user_id_users_id_fk;
ALTER TABLE ONLY public.site_settings DROP CONSTRAINT site_settings_updated_by_users_id_fk;
ALTER TABLE ONLY public.reports DROP CONSTRAINT reports_resolved_by_users_id_fk;
ALTER TABLE ONLY public.reports DROP CONSTRAINT reports_reporter_id_users_id_fk;
ALTER TABLE ONLY public.reports DROP CONSTRAINT reports_reported_id_users_id_fk;
ALTER TABLE ONLY public.refresh_tokens DROP CONSTRAINT refresh_tokens_user_id_users_id_fk;
ALTER TABLE ONLY public.profiles DROP CONSTRAINT profiles_id_users_id_fk;
ALTER TABLE ONLY public.profile_moderation_queue DROP CONSTRAINT profile_moderation_queue_reviewed_by_users_id_fk;
ALTER TABLE ONLY public.profile_moderation_queue DROP CONSTRAINT profile_moderation_queue_profile_id_profiles_id_fk;
ALTER TABLE ONLY public.photos DROP CONSTRAINT photos_user_id_users_id_fk;
ALTER TABLE ONLY public.notifications DROP CONSTRAINT notifications_user_id_users_id_fk;
ALTER TABLE ONLY public.messages DROP CONSTRAINT messages_sender_id_users_id_fk;
ALTER TABLE ONLY public.messages DROP CONSTRAINT messages_receiver_id_users_id_fk;
ALTER TABLE ONLY public.matches DROP CONSTRAINT matches_user2_id_users_id_fk;
ALTER TABLE ONLY public.matches DROP CONSTRAINT matches_user1_id_users_id_fk;
ALTER TABLE ONLY public.financial_events DROP CONSTRAINT financial_events_user_id_users_id_fk;
ALTER TABLE ONLY public.financial_events DROP CONSTRAINT financial_events_subscription_id_subscriptions_id_fk;
ALTER TABLE ONLY public.financial_events DROP CONSTRAINT financial_events_created_by_users_id_fk;
ALTER TABLE ONLY public.broadcast_campaigns DROP CONSTRAINT broadcast_campaigns_created_by_users_id_fk;
ALTER TABLE ONLY public.blog_posts DROP CONSTRAINT blog_posts_author_id_users_id_fk;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_admin_id_users_id_fk;
ALTER TABLE ONLY public.ai_usage_logs DROP CONSTRAINT ai_usage_logs_user_id_users_id_fk;
ALTER TABLE ONLY public.admin_users DROP CONSTRAINT admin_users_user_id_users_id_fk;
ALTER TABLE ONLY public.admin_users DROP CONSTRAINT admin_users_role_id_admin_roles_id_fk;
ALTER TABLE ONLY public.admin_users DROP CONSTRAINT admin_users_created_by_users_id_fk;
DROP INDEX public.users_status_idx;
DROP INDEX public.users_profile_type_idx;
DROP INDEX public.users_email_idx;
DROP INDEX public.unique_swipe_idx;
DROP INDEX public.unique_match_idx;
DROP INDEX public.subscriptions_user_idx;
DROP INDEX public.subscriptions_stripe_sub_idx;
DROP INDEX public.subscriptions_status_idx;
DROP INDEX public.special_access_user_idx;
DROP INDEX public.special_access_type_idx;
DROP INDEX public.special_access_active_idx;
DROP INDEX public.reports_status_idx;
DROP INDEX public.reports_reporter_idx;
DROP INDEX public.reports_reported_idx;
DROP INDEX public.refresh_tokens_user_idx;
DROP INDEX public.refresh_tokens_token_idx;
DROP INDEX public.profiles_state_idx;
DROP INDEX public.profiles_relationship_type_idx;
DROP INDEX public.profiles_popularity_idx;
DROP INDEX public.profiles_moderation_idx;
DROP INDEX public.profiles_last_active_idx;
DROP INDEX public.profiles_gender_idx;
DROP INDEX public.profiles_deleted_at_idx;
DROP INDEX public.profiles_city_idx;
DROP INDEX public.photos_user_idx;
DROP INDEX public.photos_type_idx;
DROP INDEX public.photos_private_idx;
DROP INDEX public.notifications_user_idx;
DROP INDEX public.notifications_read_idx;
DROP INDEX public.mod_queue_status_idx;
DROP INDEX public.mod_queue_profile_idx;
DROP INDEX public.messages_sender_idx;
DROP INDEX public.messages_receiver_idx;
DROP INDEX public.fin_events_user_idx;
DROP INDEX public.fin_events_type_idx;
DROP INDEX public.fin_events_stripe_idx;
DROP INDEX public.fin_events_recorded_idx;
DROP INDEX public.crm_notes_user_idx;
DROP INDEX public.crm_notes_created_idx;
DROP INDEX public.campaigns_status_idx;
DROP INDEX public.campaigns_scheduled_idx;
DROP INDEX public.blog_posts_slug_idx;
DROP INDEX public.blog_posts_published_idx;
DROP INDEX public.audit_logs_entity_idx;
DROP INDEX public.audit_logs_admin_idx;
DROP INDEX public.ai_usage_service_idx;
DROP INDEX public.ai_usage_feature_idx;
DROP INDEX public.ai_usage_created_idx;
DROP INDEX public.ai_budget_service_idx;
DROP INDEX public.admin_users_user_idx;
DROP INDEX public.admin_users_role_idx;
DROP INDEX public.admin_roles_name_idx;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_pkey;
ALTER TABLE ONLY public.user_special_access DROP CONSTRAINT user_special_access_pkey;
ALTER TABLE ONLY public.user_crm_notes DROP CONSTRAINT user_crm_notes_pkey;
ALTER TABLE ONLY public.swipes DROP CONSTRAINT swipes_pkey;
ALTER TABLE ONLY public.subscriptions DROP CONSTRAINT subscriptions_pkey;
ALTER TABLE ONLY public.site_settings DROP CONSTRAINT site_settings_pkey;
ALTER TABLE ONLY public.reports DROP CONSTRAINT reports_pkey;
ALTER TABLE ONLY public.refresh_tokens DROP CONSTRAINT refresh_tokens_pkey;
ALTER TABLE ONLY public.profiles DROP CONSTRAINT profiles_pkey;
ALTER TABLE ONLY public.profile_moderation_queue DROP CONSTRAINT profile_moderation_queue_pkey;
ALTER TABLE ONLY public.plans DROP CONSTRAINT plans_pkey;
ALTER TABLE ONLY public.photos DROP CONSTRAINT photos_pkey;
ALTER TABLE ONLY public.notifications DROP CONSTRAINT notifications_pkey;
ALTER TABLE ONLY public.messages DROP CONSTRAINT messages_pkey;
ALTER TABLE ONLY public.matches DROP CONSTRAINT matches_pkey;
ALTER TABLE ONLY public.financial_events DROP CONSTRAINT financial_events_pkey;
ALTER TABLE ONLY public.broadcast_campaigns DROP CONSTRAINT broadcast_campaigns_pkey;
ALTER TABLE ONLY public.blog_posts DROP CONSTRAINT blog_posts_pkey;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_pkey;
ALTER TABLE ONLY public.ai_usage_logs DROP CONSTRAINT ai_usage_logs_pkey;
ALTER TABLE ONLY public.ai_budget_config DROP CONSTRAINT ai_budget_config_pkey;
ALTER TABLE ONLY public.admin_users DROP CONSTRAINT admin_users_pkey;
ALTER TABLE ONLY public.admin_roles DROP CONSTRAINT admin_roles_pkey;
DROP TABLE public.users;
DROP TABLE public.user_special_access;
DROP TABLE public.user_crm_notes;
DROP TABLE public.swipes;
DROP TABLE public.subscriptions;
DROP TABLE public.site_settings;
DROP TABLE public.reports;
DROP TABLE public.refresh_tokens;
DROP TABLE public.profiles;
DROP TABLE public.profile_moderation_queue;
DROP TABLE public.plans;
DROP TABLE public.photos;
DROP TABLE public.notifications;
DROP TABLE public.messages;
DROP TABLE public.matches;
DROP TABLE public.financial_events;
DROP TABLE public.broadcast_campaigns;
DROP TABLE public.blog_posts;
DROP TABLE public.audit_logs;
DROP TABLE public.ai_usage_logs;
DROP TABLE public.ai_budget_config;
DROP TABLE public.admin_users;
DROP TABLE public.admin_roles;
DROP TYPE public.user_status;
DROP TYPE public.swipe_action;
DROP TYPE public.subscription_status;
DROP TYPE public.special_access_type;
DROP TYPE public.smoking;
DROP TYPE public.report_status;
DROP TYPE public.report_reason;
DROP TYPE public.relationship_type;
DROP TYPE public.profile_type;
DROP TYPE public.photo_type;
DROP TYPE public.photo_status;
DROP TYPE public.partnership_type;
DROP TYPE public.moderation_status;
DROP TYPE public.message_status;
DROP TYPE public.meeting_frequency;
DROP TYPE public.marital_status;
DROP TYPE public.gender;
DROP TYPE public.financial_event_type;
DROP TYPE public.drinking;
DROP TYPE public.campaign_type;
DROP TYPE public.campaign_status;
DROP TYPE public.blog_post_source;
DROP TYPE public.ai_usage_status;
--
-- Name: ai_usage_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.ai_usage_status AS ENUM (
    'success',
    'error',
    'timeout'
);


ALTER TYPE public.ai_usage_status OWNER TO sweet_admin;

--
-- Name: blog_post_source; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.blog_post_source AS ENUM (
    'ai_auto',
    'ai_manual',
    'manual'
);


ALTER TYPE public.blog_post_source OWNER TO sweet_admin;

--
-- Name: campaign_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.campaign_status AS ENUM (
    'draft',
    'scheduled',
    'sending',
    'sent',
    'failed'
);


ALTER TYPE public.campaign_status OWNER TO sweet_admin;

--
-- Name: campaign_type; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.campaign_type AS ENUM (
    'email',
    'notification',
    'both'
);


ALTER TYPE public.campaign_type OWNER TO sweet_admin;

--
-- Name: drinking; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.drinking AS ENUM (
    'yes',
    'no',
    'occasionally'
);


ALTER TYPE public.drinking OWNER TO sweet_admin;

--
-- Name: financial_event_type; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.financial_event_type AS ENUM (
    'revenue',
    'refund',
    'chargeback',
    'fee',
    'manual_credit',
    'manual_debit'
);


ALTER TYPE public.financial_event_type OWNER TO sweet_admin;

--
-- Name: gender; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.gender AS ENUM (
    'male',
    'female',
    'other'
);


ALTER TYPE public.gender OWNER TO sweet_admin;

--
-- Name: marital_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.marital_status AS ENUM (
    'single',
    'married',
    'divorced',
    'widowed'
);


ALTER TYPE public.marital_status OWNER TO sweet_admin;

--
-- Name: meeting_frequency; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.meeting_frequency AS ENUM (
    'daily',
    'multi_weekly',
    'weekly',
    'bi_weekly',
    'monthly',
    'flexible'
);


ALTER TYPE public.meeting_frequency OWNER TO sweet_admin;

--
-- Name: message_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.message_status AS ENUM (
    'sent',
    'delivered',
    'read'
);


ALTER TYPE public.message_status OWNER TO sweet_admin;

--
-- Name: moderation_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.moderation_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.moderation_status OWNER TO sweet_admin;

--
-- Name: partnership_type; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.partnership_type AS ENUM (
    'financial',
    'mentorship',
    'travel',
    'companionship',
    'other'
);


ALTER TYPE public.partnership_type OWNER TO sweet_admin;

--
-- Name: photo_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.photo_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.photo_status OWNER TO sweet_admin;

--
-- Name: photo_type; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.photo_type AS ENUM (
    'profile',
    'validation',
    'background'
);


ALTER TYPE public.photo_type OWNER TO sweet_admin;

--
-- Name: profile_type; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.profile_type AS ENUM (
    'user',
    'admin',
    'moderator'
);


ALTER TYPE public.profile_type OWNER TO sweet_admin;

--
-- Name: relationship_type; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.relationship_type AS ENUM (
    'baby',
    'daddy',
    'mommy'
);


ALTER TYPE public.relationship_type OWNER TO sweet_admin;

--
-- Name: report_reason; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.report_reason AS ENUM (
    'fake_profile',
    'harassment',
    'spam',
    'underage',
    'nudity',
    'prostitution',
    'other'
);


ALTER TYPE public.report_reason OWNER TO sweet_admin;

--
-- Name: report_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.report_status AS ENUM (
    'pending',
    'resolved',
    'dismissed'
);


ALTER TYPE public.report_status OWNER TO sweet_admin;

--
-- Name: smoking; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.smoking AS ENUM (
    'yes',
    'no',
    'occasionally'
);


ALTER TYPE public.smoking OWNER TO sweet_admin;

--
-- Name: special_access_type; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.special_access_type AS ENUM (
    'lifetime',
    'free_premium',
    'vip',
    'tester',
    'influencer'
);


ALTER TYPE public.special_access_type OWNER TO sweet_admin;

--
-- Name: subscription_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.subscription_status AS ENUM (
    'trial',
    'active',
    'expired',
    'cancelled'
);


ALTER TYPE public.subscription_status OWNER TO sweet_admin;

--
-- Name: swipe_action; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.swipe_action AS ENUM (
    'like',
    'pass'
);


ALTER TYPE public.swipe_action OWNER TO sweet_admin;

--
-- Name: user_status; Type: TYPE; Schema: public; Owner: sweet_admin
--

CREATE TYPE public.user_status AS ENUM (
    'active',
    'inactive',
    'suspended',
    'banned',
    'pending'
);


ALTER TYPE public.user_status OWNER TO sweet_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_roles; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.admin_roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    permissions jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_roles OWNER TO sweet_admin;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.admin_users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    role_id uuid,
    is_active boolean DEFAULT true NOT NULL,
    created_by uuid,
    last_login timestamp with time zone,
    ip_whitelist jsonb,
    two_factor_secret text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_users OWNER TO sweet_admin;

--
-- Name: ai_budget_config; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.ai_budget_config (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    service text NOT NULL,
    daily_limit_usd double precision DEFAULT 5 NOT NULL,
    monthly_limit_usd double precision DEFAULT 50 NOT NULL,
    alert_threshold double precision DEFAULT 80 NOT NULL,
    is_enabled boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ai_budget_config OWNER TO sweet_admin;

--
-- Name: ai_usage_logs; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.ai_usage_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    service text NOT NULL,
    model text NOT NULL,
    feature text NOT NULL,
    prompt_tokens integer NOT NULL,
    completion_tokens integer NOT NULL,
    total_tokens integer NOT NULL,
    cost_usd double precision,
    cost_brl double precision,
    user_id uuid,
    request_id text,
    status public.ai_usage_status DEFAULT 'success'::public.ai_usage_status NOT NULL,
    latency_ms integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ai_usage_logs OWNER TO sweet_admin;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    admin_id uuid NOT NULL,
    action text NOT NULL,
    entity text NOT NULL,
    entity_id text NOT NULL,
    details jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO sweet_admin;

--
-- Name: blog_posts; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.blog_posts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    content text NOT NULL,
    meta_description text NOT NULL,
    author_id uuid,
    published_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    source public.blog_post_source DEFAULT 'manual'::public.blog_post_source NOT NULL
);


ALTER TABLE public.blog_posts OWNER TO sweet_admin;

--
-- Name: broadcast_campaigns; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.broadcast_campaigns (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    type public.campaign_type NOT NULL,
    target_segment jsonb,
    subject text,
    body_html text,
    notification_title text,
    notification_body text,
    status public.campaign_status DEFAULT 'draft'::public.campaign_status NOT NULL,
    scheduled_for timestamp with time zone,
    sent_count integer DEFAULT 0 NOT NULL,
    opened_count integer DEFAULT 0 NOT NULL,
    created_by uuid,
    sent_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.broadcast_campaigns OWNER TO sweet_admin;

--
-- Name: financial_events; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.financial_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type public.financial_event_type NOT NULL,
    amount_cents integer NOT NULL,
    currency text DEFAULT 'BRL'::text NOT NULL,
    user_id uuid,
    subscription_id uuid,
    stripe_event_id text,
    description text,
    created_by uuid,
    recorded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.financial_events OWNER TO sweet_admin;

--
-- Name: matches; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.matches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user1_id uuid NOT NULL,
    user2_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.matches OWNER TO sweet_admin;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    sender_id uuid NOT NULL,
    receiver_id uuid NOT NULL,
    content text NOT NULL,
    status public.message_status DEFAULT 'sent'::public.message_status NOT NULL,
    read_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.messages OWNER TO sweet_admin;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    link text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO sweet_admin;

--
-- Name: photos; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.photos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    storage_path text NOT NULL,
    thumbnail_path text,
    is_primary boolean DEFAULT false NOT NULL,
    status public.photo_status DEFAULT 'pending'::public.photo_status NOT NULL,
    type public.photo_type DEFAULT 'profile'::public.photo_type NOT NULL,
    is_private boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.photos OWNER TO sweet_admin;

--
-- Name: plans; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.plans (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    price_cents integer NOT NULL,
    billing_period text NOT NULL,
    features jsonb NOT NULL,
    stripe_price_id text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    is_highlighted boolean DEFAULT false NOT NULL,
    discount_percentage integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.plans OWNER TO sweet_admin;

--
-- Name: profile_moderation_queue; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.profile_moderation_queue (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    profile_id uuid NOT NULL,
    status public.moderation_status DEFAULT 'pending'::public.moderation_status NOT NULL,
    reviewed_by uuid,
    reviewed_at timestamp with time zone,
    rejection_reason text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.profile_moderation_queue OWNER TO sweet_admin;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.profiles (
    id uuid NOT NULL,
    display_name text NOT NULL,
    birth_date date NOT NULL,
    gender public.gender,
    relationship_type public.relationship_type NOT NULL,
    state text,
    city text,
    bio text,
    profession text,
    education text,
    income_range text,
    latitude double precision,
    longitude double precision,
    interests jsonb,
    marital_status public.marital_status,
    height_range text,
    ethnicity text,
    hair_color text,
    eye_color text,
    smoking public.smoking,
    drinking public.drinking,
    seeking_description text,
    popularity_score integer DEFAULT 0 NOT NULL,
    profile_views integer DEFAULT 0 NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_active_at timestamp with time zone,
    moderation_status public.moderation_status DEFAULT 'pending'::public.moderation_status NOT NULL,
    availability text,
    partnership_type public.partnership_type,
    meeting_frequency public.meeting_frequency,
    country text,
    body_type text,
    skin_tone text,
    children text,
    net_worth text,
    seeking_gender text,
    travel_preference text
);


ALTER TABLE public.profiles OWNER TO sweet_admin;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.refresh_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO sweet_admin;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.reports (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    reporter_id uuid NOT NULL,
    reported_id uuid NOT NULL,
    reason public.report_reason NOT NULL,
    description text,
    status public.report_status DEFAULT 'pending'::public.report_status NOT NULL,
    resolved_by uuid,
    resolved_at timestamp with time zone,
    resolution_note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reports OWNER TO sweet_admin;

--
-- Name: site_settings; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.site_settings (
    key text NOT NULL,
    value jsonb NOT NULL,
    updated_by uuid,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.site_settings OWNER TO sweet_admin;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.subscriptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    stripe_subscription_id text NOT NULL,
    stripe_customer_id text NOT NULL,
    status public.subscription_status NOT NULL,
    plan_id text NOT NULL,
    amount integer NOT NULL,
    current_period_end timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO sweet_admin;

--
-- Name: swipes; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.swipes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_user_id uuid NOT NULL,
    to_user_id uuid NOT NULL,
    action public.swipe_action NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.swipes OWNER TO sweet_admin;

--
-- Name: user_crm_notes; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.user_crm_notes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    author_id uuid NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_crm_notes OWNER TO sweet_admin;

--
-- Name: user_special_access; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.user_special_access (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    access_type public.special_access_type NOT NULL,
    reason text,
    granted_by uuid,
    valid_until timestamp with time zone,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_special_access OWNER TO sweet_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sweet_admin
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    profile_type public.profile_type DEFAULT 'user'::public.profile_type NOT NULL,
    status public.user_status DEFAULT 'pending'::public.user_status NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    is_premium boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO sweet_admin;

--
-- Data for Name: admin_roles; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.admin_roles (id, name, description, permissions, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.admin_users (id, user_id, role_id, is_active, created_by, last_login, ip_whitelist, two_factor_secret, created_at) FROM stdin;
\.


--
-- Data for Name: ai_budget_config; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.ai_budget_config (id, service, daily_limit_usd, monthly_limit_usd, alert_threshold, is_enabled, updated_at, created_at) FROM stdin;
\.


--
-- Data for Name: ai_usage_logs; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.ai_usage_logs (id, service, model, feature, prompt_tokens, completion_tokens, total_tokens, cost_usd, cost_brl, user_id, request_id, status, latency_ms, created_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.audit_logs (id, admin_id, action, entity, entity_id, details, created_at) FROM stdin;
\.


--
-- Data for Name: blog_posts; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--



--
-- Data for Name: broadcast_campaigns; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.broadcast_campaigns (id, title, type, target_segment, subject, body_html, notification_title, notification_body, status, scheduled_for, sent_count, opened_count, created_by, sent_at, created_at) FROM stdin;
\.


--
-- Data for Name: financial_events; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.financial_events (id, type, amount_cents, currency, user_id, subscription_id, stripe_event_id, description, created_by, recorded_at) FROM stdin;
\.


--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.matches (id, user1_id, user2_id, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.messages (id, sender_id, receiver_id, content, status, read_at, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.notifications (id, user_id, type, title, body, is_read, link, created_at) FROM stdin;
f3ea6ed9-7a0a-4ca3-9e04-508c929b64a3	0e1bf1c8-2bc7-4858-9cf2-737feef849e8	system	Ô£¿ Bem-vindo!	Complete seu perfil adicionando suas fotos para conseguir matches.	f	/register/photos	2026-07-09 20:38:52.921907-03
\.


--
-- Data for Name: photos; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--



--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--



--
-- Data for Name: profile_moderation_queue; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.profile_moderation_queue (id, profile_id, status, reviewed_by, reviewed_at, rejection_reason, created_at) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--



--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.reports (id, reporter_id, reported_id, reason, description, status, resolved_by, resolved_at, resolution_note, created_at) FROM stdin;
\.


--
-- Data for Name: site_settings; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.site_settings (key, value, updated_by, updated_at) FROM stdin;
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.subscriptions (id, user_id, stripe_subscription_id, stripe_customer_id, status, plan_id, amount, current_period_end, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: swipes; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.swipes (id, from_user_id, to_user_id, action, created_at) FROM stdin;
\.


--
-- Data for Name: user_crm_notes; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.user_crm_notes (id, user_id, author_id, content, created_at) FROM stdin;
\.


--
-- Data for Name: user_special_access; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.user_special_access (id, user_id, access_type, reason, granted_by, valid_until, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sweet_admin
--

COPY public.users (id, email, password_hash, profile_type, status, is_verified, is_premium, created_at, last_login_at, updated_at) FROM stdin;
a1aec8f9-0e9f-465b-9aa8-22795b41658f	jfcnetto@gmail.com	$2b$10$lFJ97oA7L9AcwzJQGHDiI.altb.OuDIU8UN.SUBdlWxnUanmA2XLi	user	pending	f	t	2026-07-03 22:16:13.22428-03	\N	2026-07-08 19:15:05.867-03
0e1bf1c8-2bc7-4858-9cf2-737feef849e8	jfcnetto73@gmail.com	$2b$10$Q8cqs9gns2URSoR2WEntBe8.Md2r40VvyXK6wj4Im/giqZ4v7zP3S	user	pending	t	t	2026-07-09 20:38:47.743613-03	\N	2026-07-09 22:48:58.131-03
\.


--
-- Name: admin_roles admin_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.admin_roles
    ADD CONSTRAINT admin_roles_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: ai_budget_config ai_budget_config_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.ai_budget_config
    ADD CONSTRAINT ai_budget_config_pkey PRIMARY KEY (id);


--
-- Name: ai_usage_logs ai_usage_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.ai_usage_logs
    ADD CONSTRAINT ai_usage_logs_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_pkey PRIMARY KEY (id);


--
-- Name: broadcast_campaigns broadcast_campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.broadcast_campaigns
    ADD CONSTRAINT broadcast_campaigns_pkey PRIMARY KEY (id);


--
-- Name: financial_events financial_events_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.financial_events
    ADD CONSTRAINT financial_events_pkey PRIMARY KEY (id);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: photos photos_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_pkey PRIMARY KEY (id);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: profile_moderation_queue profile_moderation_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.profile_moderation_queue
    ADD CONSTRAINT profile_moderation_queue_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: site_settings site_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_pkey PRIMARY KEY (key);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: swipes swipes_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.swipes
    ADD CONSTRAINT swipes_pkey PRIMARY KEY (id);


--
-- Name: user_crm_notes user_crm_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.user_crm_notes
    ADD CONSTRAINT user_crm_notes_pkey PRIMARY KEY (id);


--
-- Name: user_special_access user_special_access_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.user_special_access
    ADD CONSTRAINT user_special_access_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: admin_roles_name_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX admin_roles_name_idx ON public.admin_roles USING btree (name);


--
-- Name: admin_users_role_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX admin_users_role_idx ON public.admin_users USING btree (role_id);


--
-- Name: admin_users_user_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX admin_users_user_idx ON public.admin_users USING btree (user_id);


--
-- Name: ai_budget_service_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX ai_budget_service_idx ON public.ai_budget_config USING btree (service);


--
-- Name: ai_usage_created_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX ai_usage_created_idx ON public.ai_usage_logs USING btree (created_at);


--
-- Name: ai_usage_feature_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX ai_usage_feature_idx ON public.ai_usage_logs USING btree (feature);


--
-- Name: ai_usage_service_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX ai_usage_service_idx ON public.ai_usage_logs USING btree (service);


--
-- Name: audit_logs_admin_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX audit_logs_admin_idx ON public.audit_logs USING btree (admin_id);


--
-- Name: audit_logs_entity_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX audit_logs_entity_idx ON public.audit_logs USING btree (entity, entity_id);


--
-- Name: blog_posts_published_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX blog_posts_published_idx ON public.blog_posts USING btree (published_at);


--
-- Name: blog_posts_slug_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX blog_posts_slug_idx ON public.blog_posts USING btree (slug);


--
-- Name: campaigns_scheduled_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX campaigns_scheduled_idx ON public.broadcast_campaigns USING btree (scheduled_for);


--
-- Name: campaigns_status_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX campaigns_status_idx ON public.broadcast_campaigns USING btree (status);


--
-- Name: crm_notes_created_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX crm_notes_created_idx ON public.user_crm_notes USING btree (created_at);


--
-- Name: crm_notes_user_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX crm_notes_user_idx ON public.user_crm_notes USING btree (user_id);


--
-- Name: fin_events_recorded_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX fin_events_recorded_idx ON public.financial_events USING btree (recorded_at);


--
-- Name: fin_events_stripe_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX fin_events_stripe_idx ON public.financial_events USING btree (stripe_event_id);


--
-- Name: fin_events_type_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX fin_events_type_idx ON public.financial_events USING btree (type);


--
-- Name: fin_events_user_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX fin_events_user_idx ON public.financial_events USING btree (user_id);


--
-- Name: messages_receiver_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX messages_receiver_idx ON public.messages USING btree (receiver_id);


--
-- Name: messages_sender_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX messages_sender_idx ON public.messages USING btree (sender_id);


--
-- Name: mod_queue_profile_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX mod_queue_profile_idx ON public.profile_moderation_queue USING btree (profile_id);


--
-- Name: mod_queue_status_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX mod_queue_status_idx ON public.profile_moderation_queue USING btree (status);


--
-- Name: notifications_read_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX notifications_read_idx ON public.notifications USING btree (is_read);


--
-- Name: notifications_user_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX notifications_user_idx ON public.notifications USING btree (user_id);


--
-- Name: photos_private_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX photos_private_idx ON public.photos USING btree (is_private);


--
-- Name: photos_type_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX photos_type_idx ON public.photos USING btree (type);


--
-- Name: photos_user_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX photos_user_idx ON public.photos USING btree (user_id);


--
-- Name: profiles_city_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX profiles_city_idx ON public.profiles USING btree (city);


--
-- Name: profiles_deleted_at_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX profiles_deleted_at_idx ON public.profiles USING btree (deleted_at);


--
-- Name: profiles_gender_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX profiles_gender_idx ON public.profiles USING btree (gender);


--
-- Name: profiles_last_active_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX profiles_last_active_idx ON public.profiles USING btree (last_active_at);


--
-- Name: profiles_moderation_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX profiles_moderation_idx ON public.profiles USING btree (moderation_status);


--
-- Name: profiles_popularity_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX profiles_popularity_idx ON public.profiles USING btree (popularity_score);


--
-- Name: profiles_relationship_type_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX profiles_relationship_type_idx ON public.profiles USING btree (relationship_type);


--
-- Name: profiles_state_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX profiles_state_idx ON public.profiles USING btree (state);


--
-- Name: refresh_tokens_token_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX refresh_tokens_token_idx ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_user_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX refresh_tokens_user_idx ON public.refresh_tokens USING btree (user_id);


--
-- Name: reports_reported_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX reports_reported_idx ON public.reports USING btree (reported_id);


--
-- Name: reports_reporter_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX reports_reporter_idx ON public.reports USING btree (reporter_id);


--
-- Name: reports_status_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX reports_status_idx ON public.reports USING btree (status);


--
-- Name: special_access_active_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX special_access_active_idx ON public.user_special_access USING btree (is_active);


--
-- Name: special_access_type_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX special_access_type_idx ON public.user_special_access USING btree (access_type);


--
-- Name: special_access_user_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX special_access_user_idx ON public.user_special_access USING btree (user_id);


--
-- Name: subscriptions_status_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX subscriptions_status_idx ON public.subscriptions USING btree (status);


--
-- Name: subscriptions_stripe_sub_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX subscriptions_stripe_sub_idx ON public.subscriptions USING btree (stripe_subscription_id);


--
-- Name: subscriptions_user_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX subscriptions_user_idx ON public.subscriptions USING btree (user_id);


--
-- Name: unique_match_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX unique_match_idx ON public.matches USING btree (user1_id, user2_id);


--
-- Name: unique_swipe_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX unique_swipe_idx ON public.swipes USING btree (from_user_id, to_user_id);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE UNIQUE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_profile_type_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX users_profile_type_idx ON public.users USING btree (profile_type);


--
-- Name: users_status_idx; Type: INDEX; Schema: public; Owner: sweet_admin
--

CREATE INDEX users_status_idx ON public.users USING btree (status);


--
-- Name: admin_users admin_users_created_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_created_by_users_id_fk FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: admin_users admin_users_role_id_admin_roles_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_role_id_admin_roles_id_fk FOREIGN KEY (role_id) REFERENCES public.admin_roles(id) ON DELETE RESTRICT;


--
-- Name: admin_users admin_users_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ai_usage_logs ai_usage_logs_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.ai_usage_logs
    ADD CONSTRAINT ai_usage_logs_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_admin_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_admin_id_users_id_fk FOREIGN KEY (admin_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: blog_posts blog_posts_author_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_author_id_users_id_fk FOREIGN KEY (author_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: broadcast_campaigns broadcast_campaigns_created_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.broadcast_campaigns
    ADD CONSTRAINT broadcast_campaigns_created_by_users_id_fk FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: financial_events financial_events_created_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.financial_events
    ADD CONSTRAINT financial_events_created_by_users_id_fk FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: financial_events financial_events_subscription_id_subscriptions_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.financial_events
    ADD CONSTRAINT financial_events_subscription_id_subscriptions_id_fk FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON DELETE SET NULL;


--
-- Name: financial_events financial_events_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.financial_events
    ADD CONSTRAINT financial_events_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: matches matches_user1_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_user1_id_users_id_fk FOREIGN KEY (user1_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: matches matches_user2_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_user2_id_users_id_fk FOREIGN KEY (user2_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_receiver_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_receiver_id_users_id_fk FOREIGN KEY (receiver_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_users_id_fk FOREIGN KEY (sender_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: photos photos_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profile_moderation_queue profile_moderation_queue_profile_id_profiles_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.profile_moderation_queue
    ADD CONSTRAINT profile_moderation_queue_profile_id_profiles_id_fk FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_moderation_queue profile_moderation_queue_reviewed_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.profile_moderation_queue
    ADD CONSTRAINT profile_moderation_queue_reviewed_by_users_id_fk FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: profiles profiles_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_id_users_id_fk FOREIGN KEY (id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reports reports_reported_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_reported_id_users_id_fk FOREIGN KEY (reported_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reports reports_reporter_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_reporter_id_users_id_fk FOREIGN KEY (reporter_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reports reports_resolved_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_resolved_by_users_id_fk FOREIGN KEY (resolved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: site_settings site_settings_updated_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_updated_by_users_id_fk FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: subscriptions subscriptions_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: swipes swipes_from_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.swipes
    ADD CONSTRAINT swipes_from_user_id_users_id_fk FOREIGN KEY (from_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: swipes swipes_to_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.swipes
    ADD CONSTRAINT swipes_to_user_id_users_id_fk FOREIGN KEY (to_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_crm_notes user_crm_notes_author_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.user_crm_notes
    ADD CONSTRAINT user_crm_notes_author_id_users_id_fk FOREIGN KEY (author_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_crm_notes user_crm_notes_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.user_crm_notes
    ADD CONSTRAINT user_crm_notes_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_special_access user_special_access_granted_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.user_special_access
    ADD CONSTRAINT user_special_access_granted_by_users_id_fk FOREIGN KEY (granted_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_special_access user_special_access_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: sweet_admin
--

ALTER TABLE ONLY public.user_special_access
    ADD CONSTRAINT user_special_access_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict prWg6Pn6yq8Yfq2aL1PslvYf6j8ncFxvfXBdfp83qasr4O7N0ftwYfPRXgjbYaB

